[Desktop Entry]
Type=Application
Exec=bash $HOME/.local/bin/play_bg.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en]=autoplay
Name=autoplay
Comment[en]=Automatically plays live wallpaper
Comment=Automatically plays live wallpaper
